* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

body::before {
    content: "";
    background-image: url("clinic.avif");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    user-select: none;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color:black;
    text-decoration: none;
    font-weight: 400;
    margin-left: 40px;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navbar a:hover::after {
    transform: scaleX(1);
}

.navbar .btnLogin {
    width: 130px;
    height: 50px;
    background: rgb(158, 244, 235);
    border: 1px solid;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    color: black;
    font-weight: 400;
    margin-left: 40px;
    transition: .5s;
}

.navbar .btnLogin:hover {
    background:white;
    color:rgb(158, 244, 235);
}

.content {
    position: absolute;
    text-align: center;
    margin-top: -250px;
}

.search { 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    width: 80%;
}

.searchinput {
    width: 80%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px; 
    color: #575756;
    background-color: transparent; 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    color: color(#575756 a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
        
.searchinput:hover, .searchinput:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

.wrapper {
    position: relative;
    width: 450px;
    height: 300px;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper .login {
    width: 100%;
    padding: 40px;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: black;
    font-size: 28px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.login h2 {
    font-size: 28px;
    color: black;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-bottom: 2px solid black;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 18px;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: black;
    font-weight: 200;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 18px;
    color: black;
    line-height: 57px;
}

.remember-forgot {
    font-size: 16px;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
   accent-color: black;
   margin-right: 3px;
}

.btn {
    width: 100%;
    height: 45px;
    background: black;
    color: white;
    font-size: 18px;
    font-weight: 500px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}